{{define "header"}}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<div id="top">
    <header>
      <a href="/">
        <i class="fa fa-connectdevelop fa-3x"></i>
      </a>

        {{ if .LoggedIn }}
        <nav>
            <a href="/{{.Profile.Username}}"><p id="login">Profile</p></a>
            <a href="#openModal" id="opens-modal"><p id="login">Tweet</p></a>
            <a href="/logout"><p id="login">Log Out</p></a>
        </nav>
        {{ else }}
        <nav>
            <a href="/login"><p id="login">Log In</p></a>
        </nav>
        {{ end }}
    </header>
    <p id="motto">Minty Fresh Posts!</p>
    <p id="motto">Fresh posts!</p>
    <p id="motto">Posts!</p>

</div>
{{end}}
